*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb( 17, 17, 17);
}

span{
    color: $color-rositabg;
}

.face{
    img{
        width: 350px;
        height: auto;
    }
}

.card{
    position: absolute;
    width: 300px;
    height: 350px;
    &:hover{
        .front{
            transform: perspective(600px) rotateY(180deg);
        }
        .back{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
    }
    .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: rgb(240, 240, 240);
            background: rgba(0, 0, 0, 0.4);
            text-align: center;
        }
    }
    .back{
        transform: perspective(600px) rotateY(180deg);
        background-image: url(../img/pattern.jpg);
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #000;
        h3{
            color: $color-rositabg; 
            font-size: 2em;
            border-bottom: 2px solid rgb(17, 17, 17);
        }
        div{
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p{
                color: rgb(240, 240, 240);
                font-size: 1.2em;
            }
        }
    }
}